<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MeramecNetFlixProject.Properties.Settings.teamdConnectionString"
            connectionString="Data Source=198.209.220.125;Initial Catalog=teamd;Persist Security Info=True;User ID=teamd;Password=teamd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>